@use "../_default" as *;

// MAIN
#menu-page {
  width: 100%;
  overflow-x: hidden;
  @include grid(1fr auto);

  dialog {
    height: 100vh;
    width: 100%;
    margin: 10px auto;

    section {
      height: 100%;
      width: 100%;
      @include flex($direction: column);
      background-color: $yellow;
      img {
        height: auto;
        max-width: 320px;
      }

      h1 {
        font-size: 2rem;
      }
    }
  }

  &.active {
    #content {
      .heading {
        #showCart {
          display: none;
        }
      }
    }

    #cart {
      width: 300px;

      #order-containor {
        width: inherit;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2;
        background-color: $yellow;
      }
    }
  }

  // Content section
  #content {
    width: 100%;
    padding: 1rem;

    .heading {
      @include flex($justify: space-between);
      h1 {
        font-size: 3rem;
      }

      #showCart {
        display: inline-block;
        height: auto;
        max-width: 50px;
        cursor: pointer;
      }
    }

    // containor styling for menu items
    #menu-containor {
      $dimension: 180px;
      @include grid(
        $cols: repeat(auto-fill, minmax($dimension, 1fr)),
        $rows: 300px,
        $gap: 1.5rem
      );
      grid-auto-rows: 300px;
      height: auto;

      // every card
      .card {
        width: 100%;
        height: 100%;
        position: relative;
        padding: 8px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        display: grid;
        grid-template-rows: 6fr 3fr;
        row-gap: 0.5rem;
        cursor: pointer;
        transition: all 0.4s ease-in;

        .image-containor {
          height: 100%;
          width: 100%;
          overflow: hidden;
          border: none;

          img {
            height: 100%;
            width: 100%;
            border-radius: 6px;
            object-fit: cover;
          }
        }

        .details {
          position: relative;
          width: 100%;

          .title {
            font-size: 1.3rem;
            line-height: 1.2;
            font-weight: 600;
          }

          .order-btns {
            width: 100%;
            position: absolute;
            bottom: 4px;
            left: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* padding: 0 4px; */

            button {
              all: unset;
              padding: 4px 8px;
              background-color: lightgray;
              font-weight: 600;

              &:hover {
                background-color: $yellow;
              }
            }

            .qty-containor {
              display: flex;
              $size: 30px;
              display: none;

              &.active {
                display: flex;
              }

              button,
              input {
                all: unset;
                @include flex();
                background-color: lightgray;
                height: $size;
                width: $size;
                text-align: center;
                font-weight: 600;
              }
            }

            .price {
              font-size: 1.2rem;
              font-weight: 600;
              margin-right: 4px;

              &::before {
                content: "$";
              }
            }
          }
        }
      }
    }
  }

  #cart {
    height: 100%;
    width: 0px;
    position: relative;
    background-color: $yellow;
    transition: width 0.4s ease;

    #order-containor {
      height: 100%;
      max-height: 100vh;
      width: inherit;
      padding: 0.5rem;
      @include grid($rows: 3rem auto 100px, $gap: 1rem);

      .heading {
        @include flex($justify: space-between);
        border-bottom: 1px solid $red;
        h2 {
          font-size: 2rem;
          color: $red;
        }

        .close {
          padding: 0;
          width: 30px;
          height: 30px;

          &:active {
            background-color: red;
            color: white;
          }
        }
      }

      #order-list {
        height: 100%;
        $size: 72px;
        @include grid($rows: $size, $cols: 1fr, $gap: 0.2rem);
        grid-auto-rows: $size;
        overflow: hidden;
        overflow-y: auto;

        // every card
        .card {
          width: 100%;
          height: 100%;
          border: 1px solid rgba(0, 0, 0, 0.1);
          @include grid($cols: $size 1fr, $gap: 0.25rem);
          cursor: pointer;

          .image-containor {
            height: 100%;
            width: 100%;
            overflow: hidden;
            border: none;

            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }

          .details {
            width: 100%;
            height: 100%;
            position: relative;

            .title {
              font-size: 1.2rem;
              line-height: 1.2;
              font-weight: 600;
            }

            .order-btns {
              width: 100%;
              display: flex;
              justify-content: space-between;
              align-items: center;
              /* padding: 0 4px; */
              position: absolute;
              bottom: 0;
              left: 0;

              button {
                all: unset;

                display: none;
              }

              .qty-containor {
                display: flex;
                $size: 20px;
                display: none;

                &.active {
                  display: flex;
                }

                button,
                input {
                  all: unset;
                  @include flex();
                  background-color: lightgray;
                  height: $size;
                  width: $size;
                  text-align: center;
                  font-weight: 600;
                }
              }

              .price {
                font-size: 1.2rem;
                font-weight: 600;
                margin-right: 4px;

                &::before {
                  content: "$";
                }
              }
            }
          }
        }
      }

      #summary {
        @include grid($rows: 1fr 1fr);

        #total {
          @include flex($justify: space-between);
          span {
            font-size: 1.2rem;

            &.qty {
              &::after {
                content: " Pec";
              }
            }

            &.value {
              &::before {
                content: "$";
              }
            }
          }
        }

        #btns {
          button {
            font-size: 1.2rem;
            width: 100%;
            border-radius: 0.2rem;

            &:hover {
              transform: none;
            }

            &:active {
              background-color: green;
              color: white;
            }
          }
        }
      }
    }
  }
}

// for devices with maximum width of 1024 px
@media screen and (max-width: 1024px) {
}

// styling for devices upto 768px
@media screen and (max-width: 768px) {
}

// and the final for max with of 480px
@media screen and (max-width: 480px) {
  #menu-page {
    &.active {
      #cart {
        width: 100vw;
      }
    }
  }
}
