@use "reset";

$playFair: "Playfair Display", serif;
$dmSans: "DM Sans", serif;
$cursive: "Permanent Marker", serif;
$defaultSize: 16px;

// Warm Red (#D32F2F) – A deep, vibrant red that evokes warmth, passion, and appetite. It works great for call-to-action buttons or highlighting key menu items.
$red: #d32f2f;
// Creamy Beige (#F5F5F5) – A soft, neutral beige for the background, providing a warm, welcoming atmosphere without overwhelming the senses.
$beige: #f5f5f5;
// Dark Charcoal (#333333) – A rich, dark gray for text and navigation elements, providing excellent contrast for readability while feeling less harsh than pure black.
$charcoal: #333333;
// Golden Yellow (#FBC02D) – A warm, golden hue that can be used for accents, hover effects, or small details to bring some liveliness and energy to the page.
$yellow: #fbc02d;
// Olive Green (#6B8E23) – A muted, earthy green that can be used to highlight sustainable practices or fresh ingredients, evoking a sense of health and nature.
$green: #6b8e23;
// Soft White (#FFFFFF) – A clean, crisp white for sections that need high contrast, such as menu items, headings, or images.
$white: #ffffff;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
}

body {
  font-family: $dmSans;
  font-size: $defaultSize;
  color: $charcoal;
  background-color: $beige;

  a {
    text-decoration: none;
  }

  img {
    height: auto;
    width: 100%;
  }

  button {
    background-color: $beige;
    color: $charcoal;
    outline: none;
    border: none;
    padding: 0.7rem 1rem;
    border-radius: 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.4s ease;

    &:hover {
      transform: scale(1.15);
    }
  }
}

@mixin flex($direction: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin grid($cols: 1fr, $rows: 1fr, $gap: 0) {
  display: grid;
  grid-template-columns: $cols;
  grid-template-rows: $rows;
  gap: $gap;
}

header {
  @include flex($direction: column);

  // first line or first child or first section of header
  #contact-navigation {
    width: 100%;
    background-color: $charcoal;
    @include flex($justify: space-between);
    padding: 0.2rem 1rem;

    img {
      width: 12px;
    }

    #old-way-to-contact {
      @include flex($gap: 1.5rem);

      section {
        @include flex($gap: 0.3rem);

        img {
          filter: invert(100%);
        }

        a {
          color: $beige;
          font-size: 0.75rem;
        }
      }
    }

    #social-media-links {
      @include flex($gap: 0.7rem);
      margin-inline-end: 2rem;

      img {
        filter: grayscale(100%) contrast(10%);
      }
    }
  }

  // second part or child or section of header
  #navigation-menu {
    width: 100%;
    background-color: $charcoal;
    @include flex($justify: space-between);
    padding: 0.5rem 1rem;

    // styling for logo section
    #logo-contatinor {
      @include flex($gap: 1rem);
      img {
        width: 64px;
      }

      .title {
        @include flex($direction: column);
        color: $beige;
        font-family: $cursive;

        span:first-child {
          text-transform: uppercase;
        }
      }
    }

    #navigation {
      z-index: 1;
      #side-menu {
        display: none;
      }

      nav {
        @include flex($gap: 1rem);

        a {
          color: $yellow;
          padding: 0.25rem 1rem;

          &:hover,
          &.active {
            background-color: $yellow;
            color: $charcoal;
          }
        }
      }
    }
  }
}

main {
  & > section {
    height: 100vh;
    width: 100%;
    padding: 1rem 2rem;

    &:nth-child(odd) {
      background-color: $charcoal;
    }

    h2 {
      font-size: 3rem;
      font-style: italic;
      padding-left: 2rem;
      margin-bottom: 1rem;
    }
  }

  #hero {
    background-image: url("../assets/background/herobg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;

    #content {
      height: 100%;
      width: 100%;
      @include flex($direction: column, $gap: 1rem);
      backdrop-filter: blur(2px);

      h1 {
        color: $yellow;
        font-family: $cursive;
        font-size: 6rem;
        text-shadow: 1px 1px 2px $beige, -1px -1px $beige;
        @include flex($direction: column);
        line-height: 0.7;
        position: relative;
        top: -30px;
        left: 70px;

        span:first-child {
          margin-left: -200px;
        }
      }

      p {
        position: relative;
        top: -10px;
        left: 0px;
        font-size: 1rem;
        font-style: italic;
        font-family: $dmSans;
        background-color: $beige;
        text-align: center;

        #tasty {
          font-family: $cursive;
          color: $red;
          font-weight: normal;
        }

        #healthy {
          font-family: $cursive;
          color: $green;
          font-weight: normal;
        }
      }

      #btns {
        width: 100%;
        max-width: 420px;
        @include flex($justify: space-around);

        span {
          font-family: $cursive;
          color: $beige;
          font-size: 1.3rem;
          text-shadow: 1px 1px $charcoal;
        }

        #book-table {
          background-color: $yellow;
        }
      }
    }
  }

  #our-services {
    padding-left: 0;
    padding-right: 0;

    #timing {
      width: 100%;
      @include flex($justify: space-around);
      background-color: $yellow;
      padding: 1rem;
      .card {
        $dimension: 100px;
        height: $dimension;
        width: $dimension;
        @include flex($direction: column, $gap: 4px);
        background-color: $charcoal;
        border-radius: 1rem;

        img {
          background-color: $yellow;
          max-width: 60px;
          border-radius: 50%;
        }

        span {
          color: $beige;
          font-size: 0.7rem;
        }
      }
    }

    #services {
      margin-top: 1rem;
      padding: 0 2rem;

      @include grid(
        $cols: repeat(auto-fit, minmax(220px, 1fr)),
        $rows: 280px,
        $gap: 2rem
      );

      .card {
        @include grid($rows: 100% repeat(2, auto));
        img {
          height: 100%;
          max-width: 100%;
          object-fit: cover;
          border-radius: 1rem;
        }

        .title {
          margin-top: 0.8rem;
          text-transform: uppercase;
          font-style: italic;
        }

        .slogan {
          line-height: 1.25;
          font-size: 0.9rem;
          text-align: justify;
        }
      }
    }
  }

  #venue-and-partners {
    h2 {
      color: $beige;
    }

    #content {
      @include flex($justify: space-between, $gap: 1rem);

      #or {
        height: 100%;

        span {
          color: $beige;
          font-size: 2.5rem;
          font-style: italic;
          font-family: $cursive;
        }
      }

      #delivery-partners {
        height: 100%;
        width: 100%;
        border: 1px solid $charcoal;

        h3 {
          color: $beige;
        }

        #options {
          @include grid($cols: 1fr 1fr, $gap: 1rem);
          align-items: center;

          img {
            display: inline-block;
            padding: 1rem;
            background-color: $beige;
            height: 100%;
            width: 100%;
            object-fit: contain;
            border-radius: 1rem;
            cursor: pointer;
          }
        }
      }
    }
  }

  #event-blogs {
    height: auto;
    @include flex($direction: column, $justify: start, $align: start);

    #moreBlogs {
      background-color: $red;
      color: $beige;
      align-self: flex-end;
      margin-bottom: 1rem;
    }

    #containor {
      @include grid($cols: 6fr 2fr 2fr, $rows: repeat(2, 1fr), $gap: 1rem);
      padding: 1rem 2rem;

      .card {
        @include grid($rows: 6fr 2fr, $gap: 1rem);
        background-color: white;
        padding: 1rem;
        border-radius: 1rem;
        border: 1px solid $charcoal;

        .content {
          width: 100%;
        }

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: inherit;
        }

        .title {
          font-size: 1rem;
        }

        .summary {
          display: none;
        }
      }

      .main {
        grid-column: 1 / 2;
        grid-row: 1 / 3;

        .title {
          font-size: 1.5rem;
          font-weight: bold;
          text-align: left;
        }

        .summary {
          margin-top: 0.5rem;
          display: inline-block;
          font-size: 0.9rem;
          text-align: justify;
        }
      }
    }
  }
}

footer {
  height: auto;
  width: 100%;
  background-color: $charcoal;
  @include grid($cols: 3fr 1fr, $gap: 1rem);
  padding: 1rem 2rem;
  color: $beige;

  #subscribe {
    @include flex($direction: column, $gap: 0.5rem);

    img {
      width: 200px;
    }

    h2 {
      font-family: $cursive;
      color: $yellow;
      font-size: 3rem;
      text-shadow: 1px 1px $beige;
      letter-spacing: 1px;
    }

    #form {
      @include flex();
      width: 100%;
      background-color: $yellow;
      padding: 0.5rem;
      border-radius: 0.2rem;
      input {
        height: 50px;
        padding: 0 1rem;
        border: 0;
        outline: 0;
      }
      #email {
        width: 100%;
      }

      #submit {
        background-color: transparent;
        color: $charcoal;
        font-weight: bold;
      }
    }
  }

  #social-media-links {
    width: 100%;
    @include flex($justify: space-around);
  }

  #side-bar {
    @include flex($direction: column, $gap: 1rem);

    #availability {
      #time-table {
        @include grid($cols: 1fr 1fr);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    #contact-navigation {
      display: none;
    }

    #navigation-menu {
      #navigation {
        nav {
          height: 100vh;
          width: 100vw;
          position: fixed;
          top: 80px;
          left: 0;
          background-color: $charcoal;
          // @include flex($direction: column, $gap: 2rem);
          display: none;

          a {
            display: inline-block;
            width: 200px;
            text-align: center;
            font-size: 1.5rem;
          }
        }

        #theHam {
          .hamb-line {
            background-color: $beige;
            display: block;
            height: 2px;
            position: relative;
            width: 24px;

            &::after,
            &::before {
              content: "";
              display: block;
              height: 100%;
              position: absolute;
              transition: all 0.2s ease-out;
              width: 100%;
              top: 8px;
              background-color: $beige;
            }

            &::after {
              top: -8px;
            }
          }
        }

        #side-menu:checked {
          ~ #theHam .hamb-line {
            background-color: transparent;
            &::before {
              transform: rotate(-45deg);
              top: 0;
            }
            &::after {
              transform: rotate(45deg);
              top: 0;
            }
          }

          ~ nav {
            @include flex($direction: column, $gap: 2rem);
          }
        }
      }
    }
  }
}
