/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", serif;
  font-size: 16px;
  color: #333333;
  background-color: #f5f5f5;
  max-width: 1550px;
}
body a {
  text-decoration: none;
}
body img {
  height: auto;
  width: 100%;
}
body button {
  background-color: #f5f5f5;
  color: #333333;
  outline: none;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.4s ease;
}
body button:hover {
  transform: scale(1.15);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
header #contact-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  background-color: #333333;
  padding: 0.25rem 1rem;
}
header #contact-navigation img {
  width: 12px;
}
header #contact-navigation #old-way-to-contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
header #contact-navigation #old-way-to-contact section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}
header #contact-navigation #old-way-to-contact section img {
  filter: invert(100%);
}
header #contact-navigation #old-way-to-contact section a {
  color: #f5f5f5;
  font-size: 0.75rem;
}
header #contact-navigation #social-media-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  margin-inline-end: 2rem;
}
header #contact-navigation #social-media-links img {
  filter: grayscale(100%) contrast(10%);
}
header #navigation-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  width: 100%;
  background-color: #333333;
  padding: 0.6rem 1rem;
}
header #navigation-menu #logo-contatinor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header #navigation-menu #logo-contatinor img {
  width: 64px;
}
header #navigation-menu #logo-contatinor .title {
  color: #f5f5f5;
  font-family: "Protest Revolution", serif;
  font-size: 2.6rem;
  text-transform: uppercase;
}
header #navigation-menu #navigation {
  z-index: 1;
}
header #navigation-menu #navigation #side-menu {
  display: none;
}
header #navigation-menu #navigation nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
header #navigation-menu #navigation nav a {
  color: #fbc02d;
  padding: 0.25rem 1rem;
  font-size: 1.25rem;
}
header #navigation-menu #navigation nav a:hover, header #navigation-menu #navigation nav a.active {
  background-color: #fbc02d;
  color: #333333;
}

#home > section {
  height: 100%;
  width: 100%;
  padding: 2rem;
}
#home > section:nth-child(odd) {
  background-color: #333333;
}
#home > section h2 {
  font-size: 2.6rem;
  font-style: italic;
  padding-left: 2rem;
  margin-bottom: 1rem;
  font-family: serif;
  font-weight: bolder;
  text-decoration: underline;
}
#home #hero {
  background-image: url("../assets/background/herobg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  height: 100vh;
}
#home #hero #content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  backdrop-filter: blur(2px);
}
#home #hero #content h1 {
  color: #fbc02d;
  font-family: "Permanent Marker", serif;
  font-size: 6rem;
  text-shadow: 1px 1px 2px #f5f5f5, -1px -1px #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
  line-height: 0.7;
  position: relative;
  top: -30px;
  left: 70px;
}
#home #hero #content h1 span:first-child {
  margin-left: -200px;
}
#home #hero #content #btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  width: 100%;
  max-width: 420px;
}
#home #hero #content #btns span {
  font-family: "Permanent Marker", serif;
  color: #f5f5f5;
  font-size: 1.3rem;
  text-shadow: 1px 1px #333333;
}
#home #hero #content #btns #book-table {
  background-color: #fbc02d;
}
#home #our-services {
  padding-left: 0;
  padding-right: 0;
  height: auto;
}
#home #our-services #timing {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  background-color: #fbc02d;
  padding: 1rem;
}
#home #our-services #timing .card {
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: #333333;
  border-radius: 1rem;
}
#home #our-services #timing .card img {
  background-color: #fbc02d;
  max-width: 60px;
  border-radius: 50%;
}
#home #our-services #timing .card span {
  color: #f5f5f5;
  font-size: 0.7rem;
}
#home #our-services #services {
  margin-top: 4rem;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-template-rows: 300px;
  gap: 3rem;
  grid-auto-rows: 300px;
}
#home #our-services #services .card {
  position: relative;
  cursor: pointer;
}
#home #our-services #services .card img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 1.3rem;
  object-position: top center;
}
#home #our-services #services .card .title {
  text-transform: uppercase;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #f5f5f5;
  text-shadow: 1px 1px #333333;
  background-color: rgba(51, 51, 51, 0.0509803922);
}
#home #venue-and-partners h2 {
  color: #f5f5f5;
}
#home #venue-and-partners #content {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}
#home #venue-and-partners #content #venue {
  width: 100%;
}
#home #venue-and-partners #content #venue iframe {
  width: 100%;
  height: 100%;
}
#home #venue-and-partners #content #or {
  height: 100%;
  display: flex;
  align-items: center;
}
#home #venue-and-partners #content #or span {
  color: #f5f5f5;
  font-size: 2.5rem;
  font-style: italic;
  font-family: "Permanent Marker", serif;
}
#home #venue-and-partners #content #delivery-partners {
  height: 100%;
  width: 100%;
  border: 1px solid #333333;
}
#home #venue-and-partners #content #delivery-partners h3 {
  color: #f5f5f5;
}
#home #venue-and-partners #content #delivery-partners #options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
}
#home #venue-and-partners #content #delivery-partners #options img {
  display: inline-block;
  padding: 1rem;
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
  cursor: pointer;
}
#home #event-blogs {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0;
}
#home #event-blogs #moreBlogs {
  background-color: #d32f2f;
  color: #f5f5f5;
  align-self: flex-end;
  margin-bottom: 1rem;
}
#home #event-blogs #containor {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem 2rem;
}
#home #event-blogs #containor .card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 6fr 2fr;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #333333;
}
#home #event-blogs #containor .card .content {
  width: 100%;
}
#home #event-blogs #containor .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}
#home #event-blogs #containor .card .title {
  font-size: 1rem;
}
#home #event-blogs #containor .card .summary {
  display: none;
}
#home #event-blogs #containor .main {
  grid-column: 1/2;
  grid-row: 1/3;
}
#home #event-blogs #containor .main .title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}
#home #event-blogs #containor .main .summary {
  margin-top: 0.5rem;
  display: inline-block;
  font-size: 0.9rem;
  text-align: justify;
}

footer {
  height: auto;
  width: 100%;
  background-color: #333333;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 1rem 2rem;
  color: #f5f5f5;
}
footer #subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
footer #subscribe img {
  width: 200px;
}
footer #subscribe h2 {
  font-family: "Permanent Marker", serif;
  color: #fbc02d;
  font-size: 3rem;
  text-shadow: 1px 1px #f5f5f5;
  letter-spacing: 1px;
  text-align: center;
}
footer #subscribe #form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  background-color: #fbc02d;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
footer #subscribe #form input {
  height: 50px;
  padding: 0 1rem;
  border: 0;
  outline: 0;
}
footer #subscribe #form #email {
  width: 100%;
}
footer #subscribe #form #submit {
  background-color: transparent;
  color: #333333;
  font-weight: bold;
}
footer #social-media-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
footer #side-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer #side-bar #availability #time-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0;
}

@media screen and (max-width: 1024px) {
  #home > section h2 {
    font-size: 2.25rem;
  }
  #home #venue-and-partners #content #delivery-partners #options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-items: center;
  }
  #home #venue-and-partners #content #delivery-partners #options img {
    height: 80px;
    padding: 0.8rem;
  }
  #home #event-blogs #containor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 0.5rem 1rem;
  }
  #home #event-blogs #containor .card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px auto;
    gap: 1rem;
  }
  #home #event-blogs #containor .card:nth-child(4), #home #event-blogs #containor .card:nth-child(5) {
    display: none;
  }
  #home #event-blogs #containor .main .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
  }
  #home #event-blogs #containor .main .summary {
    margin-top: 0.5rem;
    display: inline-block;
    font-size: 1.1rem;
    text-align: justify;
  }
}
@media screen and (max-width: 768px) {
  header {
    position: sticky;
    top: 0;
    z-index: 3;
  }
  header #contact-navigation {
    display: none;
  }
  header #navigation-menu #navigation nav {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: #333333;
    display: none;
  }
  header #navigation-menu #navigation nav a {
    display: inline-block;
    width: 200px;
    text-align: center;
    font-size: 1.5rem;
  }
  header #navigation-menu #navigation #theHam .hamb-line {
    background-color: #f5f5f5;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  }
  header #navigation-menu #navigation #theHam .hamb-line::after, header #navigation-menu #navigation #theHam .hamb-line::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
    top: 8px;
    background-color: #f5f5f5;
  }
  header #navigation-menu #navigation #theHam .hamb-line::after {
    top: -8px;
  }
  header #navigation-menu #navigation #theHam.active .hamb-line {
    background-color: transparent;
    z-index: 2;
  }
  header #navigation-menu #navigation #theHam.active .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }
  header #navigation-menu #navigation #theHam.active .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }
  header #navigation-menu #navigation #theHam.active ~ nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  #home > section {
    padding: 0.5rem 1rem;
  }
  #home > section h2 {
    font-size: 1.8rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
  }
  #home #hero #content h1 {
    font-size: 4rem;
  }
  #home #hero #content #btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  #home #our-services #services {
    margin-top: 1rem;
    padding: 0 1rem;
  }
  #home #venue-and-partners #content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    gap: 1rem;
  }
  #home #venue-and-partners #content #or {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  #home #venue-and-partners #content #delivery-partners #options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: 1fr;
    gap: 1rem;
  }
  #home #venue-and-partners #content #delivery-partners #options img {
    height: 80px;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 1rem;
  }
  footer #subscribe #form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  footer #subscribe #form input {
    height: 50px;
    width: 100%;
  }
  footer #side-bar #connect {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 1rem;
  }
}
@media screen and (max-width: 480px) {
  #home > section {
    padding: 0.5rem 1rem;
  }
  #home > section h2 {
    font-size: 1.5rem;
  }
  #home #hero #content h1 {
    font-size: 2rem;
  }
  #home #event-blogs #containor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    padding: 0.5rem;
  }
  footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    padding: 1rem;
  }
  footer #side-bar #connect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
}/*# sourceMappingURL=style.css.map */